div.juzhong2 { position: initial; }
div.chubanshe { position: initial; }
sentence:hover { background-color: lightblue; }


body {
  --space: 10px;
  --space-lg: 20px;
}

.Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}
.Site-header,
.Site-footer {
  flex: none; /* 2 */
}
.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}
.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}
