bower_components/
node_modules/
.pulp-cache/
/output/
/dce-output/
output-test/
/generated-docs/
/.psc-package/
.psc*
.purs*
.psa*
.spago/
report.*.json
yarn-error.log
/mycache.json
/output.csv
/My First Project.json
/cedict_db
/random-scripts/pinyincache.json
*cache*
!ipacache.json
!yw11_dictionary_cache.json
