.card {
  font-size: 16px;
  font-family: arial;
  text-align: center;
  color: black;
  background-color: white;
}

input[type="button"] {
  font-size: 10px;
}

.tiny {font-size: 16px;}

.small {font-size: 24px;}

.medium {font-size: 32px;}

.large {font-size: 96px;}

.italic {font-style: italic;}

.win .japanese {font-family: "Meiryo", "MS Mincho";}
.mac .japanese {font-family: "Hiragino Mincho Pro";}
.linux .japanese {font-family: "Kochi Mincho";}

.mobile .japanese {font-family: "Motoya L Cedar", "Motoya L Maru", "DroidSansJapanese", "Hiragino Mincho ProN";}
.mobile .japanesekanji {font-family: "KanjiStrokeOrders", "Motoya L Cedar", "Motoya L Maru", "DroidSansJapanese", "Hiragino Mincho ProN";}


.nightMode a { color: #ffffff; }
