sentence:hover { background-color: lightblue; }

#body { font-size: 26px; }
#currentSentence { font-size: 46px; }
#currentSentenceTraditional {
  font-size: 46px;
  border-top: 1px solid white;
  padding-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: max-content;
}

footer {
  background: black;
  padding: 10px;
  text-align: center;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

.canvas-canvas {
  border: 1px black solid;
  display: block;
  margin: 1rem;
  touch-action: none; /* stylus */
  border-radius: 5px;
  cursor: crosshair;
}

.canvas-color-picker {
  margin: 1rem 1rem 0 1rem;
}

.buttons {
  padding-left: 15px;
}

.buttons button { font-size: 20px; }

.controllers {
  display: flex;
}

#tts-audio {
  flex-grow: 1;
}

footer .known-hanzi {
  background-color: #5f7980;
}

#body .known-hanzi {
  background-color: #c6ecf7;
}

#body {
  padding-bottom: 510px; /* eq to footer */
}
