pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.two_children__horiz_even  { display: flex; flex-direction: row; }
.two_children__horiz_even div:first-child:nth-last-child(2),
.two_children__horiz_even div:first-child:nth-last-child(2) ~ div
 { width: 50%; }

.pinyin__root_container {
  width: 100%;
}
.pinyin__containers {
  width: 100%;
}

@font-face { font-family: HanaMin; src: url('NotoSans-Medium.ttf'), url('NotoSansSC-Regular.otf'), url('HanaMinA.ttf'), url('HanaMinB.ttf'), url('HanaMinC.ttf'), url('HanaMinI.ttf'); }

@font-face { font-family: Noto; src: url('NotoSans-Medium.ttf'), url('NotoSansSC-Regular.otf'), url('NotoSerifCJK.ttc'); }
@font-face { font-family: TH-Tshyn; src: url('TH-Tshyn-P0-1000.ttf'), url('TH-Tshyn-P1-1000.ttf'), url('TH-Tshyn-P2-1000.ttf'), url('TH-Tshyn-P16-1000.ttf'); }
@font-face { font-family: yugothb; src: url('HanaMinA.ttf'), url('HanaMinB.ttf'), url('HanaMinC.ttf'), url('HanaMinI.ttf'); }
@font-face { font-family: CNstrokeorder; src: url('CNstrokeorder.ttf'); }
@font-face { font-family: KanjiStrokeOrders; src: url('KanjiStrokeOrders.ttf'); }

.modal__modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 85%;
  margin: 0 auto;
  padding: 30px;
  background: #535353;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.modal__close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}
.modal__overlay {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.modal--is-visible {
  opacity: 1;
  pointer-events: auto;
}


/***************************/

.nightMode {
  color: white;
  background-color: #2c2c2c;
}

.my-pinyin-hanzi_container--back .my-pinyin-translation-container::before { visibility: visible; position: absolute; content: "?"; font-size: 28px; }
.my-pinyin-hanzi_container--back .my-pinyin-translation-container { visibility: hidden; position: relative; height: 30px; }
.my-pinyin-hanzi_container--back .my-pinyin-translation-container--force-show::before { display: none; }
.my-pinyin-hanzi_container--back .my-pinyin-translation-container--force-show { visibility: initial; position: initial; height: initial; }

.my-pinyin-hanzi_container--front .my-pinyin-hanzi::before { visibility: visible; position: absolute; content: "?"; }
.my-pinyin-hanzi_container--front .my-pinyin-hanzi { visibility: hidden; position: relative; }
.my-pinyin-hanzi_container--front .my-pinyin-hanzi--force-show::before { display: none; }
.my-pinyin-hanzi_container--front .my-pinyin-hanzi--force-show { visibility: initial; position: initial; }

.key { font-size: 30px; background-color: cornflowerblue; }
.my-pinyin-hanzi { font-size: 28px; }
.my-pinyin-english { color: #d8d8ff; }

/***************************/

.yw11_image__container { display: flex; flex-direction: row; }
.yw11_image__container * { flex: 1 1 0px; }

.ch_with_same_pronounciation .kanji {
    font-size: 18px;
    color: white;
    background-color: inherit;
}

.my-pinyin-image-container span:before { display: block; }

.purpleculture_pinyin--front .my-pinyin-tone { display: none; }
.purpleculture_pinyin--front .purpleculture-english__pinyin-info { display: none; }
.purpleculture_pinyin--front .my-pinyin-image-container { display: none; }


.trainchinese-container--hide-pinyin .trainchinese-pinyin { display: none; }
.trainchinese-container--hide-hanzi .trainchinese-transl__pinyin-info { display: none; }
.trainchinese-container--hide-hanzi .trainchinese-transl__hanzi-info { display: none; }

.hide-my-pinyin-hanzi .my-pinyin-hanzi { display: none; }

.context {
  display: flex;
  flex-direction: column;
}

.context__translation {
  margin-top: 5px;
  margin-bottom: 5px;
}

.context__deck {
  margin-top: 5px;
  margin-bottom: 5px;
}

.context__deck > * {
  display: list-item;
  list-style: trad-chinese-informal outside;
}



.trainchinese-pinyin { color: #ff0000 }
.trainchinese-type { color: #ff9e9e }
.trainchinese-transl { color: #ffebeb }

#ruby .singlebk {
  display: inline-block;
  height: auto;
  text-align: center;
  padding: 0 9px;
  margin: 0;
  border: 0;
  line-height: 1;
}

.pinyin.tone1 {color: #9d9dff}
.pinyin.tone2 {color: #b1ffb1}
.pinyin.tone3 {color: #fed3ff}
.pinyin.tone4 {color: #ff8989}
.pinyin.tone5 {color: #cecece}

.my-pinyin-tone.pinyin { display: flex; flex-direction: column; }
.pyd { display: flex; flex-direction: row; text-align: center; justify-content: center; font: bold large serif; font-size: 16px; }
.pinyin-marked { font-size: 25px; }
.tooltips-ipa { font-size: 20px; }
.my-pinyin-english { font-size: 15px; }
.my-pinyin-ru { font-size: 20px; }

.strokeorderkanjiorhanzi {
  font-family: "CNstrokeorder", "KanjiStrokeOrders";
  line-height: 1;
}

.strokeorderkanji {
  font-family: "KanjiStrokeOrders";
  line-height: 1;
}
.strokeorderhanzi {
  font-family: "CNstrokeorder";
  line-height: 1;
}

body {
  text-align: center;
  font-family: "Noto", "HanaMin";
  font-size: 16px;
}

.tiny {font-size: 24px;}
.small {font-size: 28px;}
.medium {font-size: 32px;}
.large {font-size: 96px;}
.verylarge {font-size: 140px;}
.italic {font-style: italic;}

.nightMode a { color: #ffffff; }
a { text-decoration: none; }


.hiragana {
  font-size: 25 px;
}

.radical-highlight {
  background-color: #00a0f1;
}


.kanji-highlight {
  background-color: #f100a0;
}

.vocabulary-highlight {
  background-color: #a100f1;
}

.reading-highlight {
  background-color: #555;
}


.kanji-highlight, .reading-highlight, .radical-highlight, .vocabulary-highlight {
  color: white;
  padding: 2px;
}






/* Первый русский перевод отдельной строчкой и зелёным */
.rustl { color: lightgreen; } /* перенос */

/* Стандартные типы заметок */
.notes { font-size:100%; text-align:justify; }
.tags { font-size:100%; text-align:center; }
.small { font-size:100%; } /* в дополнение к осн. типу */

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.text-center {
  text-align: center;
}

.etymology-result ul li div {
  background-color: #fff;
  width: 105px;
  height: 70px;
  background-size: 60px 60px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: transparent;
  cursor: pointer;
}

.hanziyuan p { margin: 0 0 10px; }
.hanziyuan .pre-inline { white-space: pre-line; }
.hanziyuan img { background-color: #ffffff; vertical-align: middle; border: 0; }

/*
  Icon Font: WakaFont
*/

@font-face {
  font-family: "WakaFont";
  src: url("_WakaFont.eot");
  src: url("_WakaFont.woff") format("woff"),
       url("_WakaFont.ttf") format("truetype"),
       url("_WakaFont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.radical-animal:before,
.radical-arrows:before,
.radical-bar:before,
.radical-bear:before,
.radical-beggar:before,
.radical-black-hole:before,
.radical-blackjack:before,
.radical-boob:before,
.radical-bookshelf:before,
.radical-butcher:before,
.radical-cactus:before,
.radical-cat-pirate:before,
.radical-chester:before,
.radical-chinese:before,
.radical-circus:before,
.radical-cleat:before,
.radical-cloak:before,
.radical-clown:before,
.radical-coffin:before,
.radical-comb:before,
.radical-corn:before,
.radical-cow-god:before,
.radical-creeper:before,
.radical-death-star:before,
.radical-egg:before,
.radical-explosion:before,
.radical-fish-stick:before,
.radical-fish-tail:before,
.radical-flowers:before,
.radical-football:before,
.radical-four:before,
.radical-gambler:before,
.radical-geoduck:before,
.radical-grass:before,
.radical-greenhouse:before,
.radical-gun:before,
.radical-hat:before,
.radical-hercules:before,
.radical-hick:before,
.radical-hills:before,
.radical-horns:before,
.radical-key:before,
.radical-kick:before,
.radical-lantern:before,
.radical-leaf:before,
.radical-mohawk:before,
.radical-morning:before,
.radical-mustache:before,
.radical-nailbat:before,
.radical-ox:before,
.radical-pi:before,
.radical-poem:before,
.radical-pool:before,
.radical-pope:before,
.radical-potato:before,
.radical-propaganda:before,
.radical-psychopath:before,
.radical-ribs:before,
.radical-rocket:before,
.radical-roof:before,
.radical-sauron:before,
.radical-saw:before,
.radical-shark:before,
.radical-sick:before,
.radical-signpost:before,
.radical-slice:before,
.radical-slinky:before,
.radical-sock:before,
.radical-spikes:before,
.radical-splinter:before,
.radical-squid:before,
.radical-stick:before,
.radical-superman:before,
.radical-tofu:before,
.radical-tombstone:before,
.radical-train:before,
.radical-triceratops:before,
.radical-trident:before,
.radical-tsunami:before,
.radical-umbrella:before,
.radical-viking:before,
.radical-water-slide:before,
.radical-womb:before,
.radical-worm:before,
.radical-zombie:before {
  display: inline-block;
  font-family: "WakaFont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.radical-animal:before { content: "\f100"; }
.radical-arrows:before { content: "\f101"; }
.radical-bar:before { content: "\f102"; }
.radical-bear:before { content: "\f103"; }
.radical-beggar:before { content: "\f104"; }
.radical-black-hole:before { content: "\f105"; }
.radical-blackjack:before { content: "\f106"; }
.radical-boob:before { content: "\f107"; }
.radical-bookshelf:before { content: "\f108"; }
.radical-butcher:before { content: "\f109"; }
.radical-cactus:before { content: "\f10a"; }
.radical-cat-pirate:before { content: "\f10b"; }
.radical-chester:before { content: "\f10c"; }
.radical-chinese:before { content: "\f10d"; }
.radical-circus:before { content: "\f10e"; }
.radical-cleat:before { content: "\f10f"; }
.radical-cloak:before { content: "\f110"; }
.radical-clown:before { content: "\f111"; }
.radical-coffin:before { content: "\f112"; }
.radical-comb:before { content: "\f113"; }
.radical-corn:before { content: "\f114"; }
.radical-cow-god:before { content: "\f115"; }
.radical-creeper:before { content: "\f116"; }
.radical-death-star:before { content: "\f117"; }
.radical-egg:before { content: "\f118"; }
.radical-explosion:before { content: "\f119"; }
.radical-fish-stick:before { content: "\f11a"; }
.radical-fish-tail:before { content: "\f11b"; }
.radical-flowers:before { content: "\f11c"; }
.radical-football:before { content: "\f11d"; }
.radical-four:before { content: "\f11e"; }
.radical-gambler:before { content: "\f11f"; }
.radical-geoduck:before { content: "\f120"; }
.radical-grass:before { content: "\f121"; }
.radical-greenhouse:before { content: "\f122"; }
.radical-gun:before { content: "\f123"; }
.radical-hat:before { content: "\f124"; }
.radical-hercules:before { content: "\f125"; }
.radical-hick:before { content: "\f126"; }
.radical-hills:before { content: "\f127"; }
.radical-horns:before { content: "\f128"; }
.radical-key:before { content: "\f129"; }
.radical-kick:before { content: "\f12a"; }
.radical-lantern:before { content: "\f12b"; }
.radical-leaf:before { content: "\f12c"; }
.radical-mohawk:before { content: "\f12d"; }
.radical-morning:before { content: "\f12e"; }
.radical-mustache:before { content: "\f12f"; }
.radical-nailbat:before { content: "\f130"; }
.radical-ox:before { content: "\f131"; }
.radical-pi:before { content: "\f132"; }
.radical-poem:before { content: "\f133"; }
.radical-pool:before { content: "\f134"; }
.radical-pope:before { content: "\f135"; }
.radical-potato:before { content: "\f136"; }
.radical-propaganda:before { content: "\f137"; }
.radical-psychopath:before { content: "\f138"; }
.radical-ribs:before { content: "\f139"; }
.radical-rocket:before { content: "\f13a"; }
.radical-roof:before { content: "\f13b"; }
.radical-sauron:before { content: "\f13c"; }
.radical-saw:before { content: "\f13d"; }
.radical-shark:before { content: "\f13e"; }
.radical-sick:before { content: "\f13f"; }
.radical-signpost:before { content: "\f140"; }
.radical-slice:before { content: "\f141"; }
.radical-slinky:before { content: "\f142"; }
.radical-sock:before { content: "\f143"; }
.radical-spikes:before { content: "\f144"; }
.radical-splinter:before { content: "\f145"; }
.radical-squid:before { content: "\f146"; }
.radical-stick:before { content: "\f147"; }
.radical-superman:before { content: "\f148"; }
.radical-tofu:before { content: "\f149"; }
.radical-tombstone:before { content: "\f14a"; }
.radical-train:before { content: "\f14b"; }
.radical-triceratops:before { content: "\f14c"; }
.radical-trident:before { content: "\f14d"; }
.radical-tsunami:before { content: "\f14e"; }
.radical-umbrella:before { content: "\f14f"; }
.radical-viking:before { content: "\f150"; }
.radical-water-slide:before { content: "\f151"; }
.radical-womb:before { content: "\f152"; }
.radical-worm:before { content: "\f153"; }
.radical-zombie:before { content: "\f154"; }

