/*sentence:hover { text-decoration: underline; }
sentence.visited { background-color: lightblue; }*/

sentence.current { text-decoration: underline; }


#body { font-size: 20px; }
#currentSentence { font-size: 26px; }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: max-content;
}

footer {
  background: black;
  padding: 10px;
  text-align: center;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

.buttons {
  padding-left: 15px;
}

.buttons button { font-size: 20px; }

.controllers {
  display: flex;
}

#tts-audio {
  width: 100%;
  zoom: 0.8;
}

#body {
  padding-bottom: 510px; /* eq to footer */
}

#word-dictionaries-container a {
  color: white;
  text-decoration: none;
  inline-size: 50%;
  overflow-wrap: break-word;
}

#prev-button, #next-button {
  padding-left: 20px;
  padding-right: 20px;
}

.has-etimology {
  background-color: gray;
}

.word-dictionaries-container--container {
  max-height: 250px;
  display: flex;
  font-size: 13px;
}

.word-dictionaries-container--container > * {
  flex: 1;
  overflow-y: auto;
}

.currentSentence--links { margin: 10px; }