body {
  color: white;
  background-color: black;
  display: flex;
}
a { text-decoration: none; }
a:link { color: #ffffff; }
a:visited { color: #900060; }
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
td {
  vertical-align: baseline;
  border: 1px solid #ff0000;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:hover {
  background: #2c2c2c;
}

.xdxf abr {
color: #c3c3cb;
}
.xdxf k {
display: none;
}
.xdxf k + br {
display: none;
}
.xdxf num {
color: red;
font-weight: bold;
padding-left: -15px;
}
.xdxf def {
display: block;
border-color: #e3e3e3;
border-width: 1px;
border-style: dashed;
margin: 1px;
margin-left: 15px;
}
.xdxf def:target {
/* this pseudoclass is used to marked out the referenced <def> that was just clicked */
border-color: red;
border-width: 1px;
border-style: double;
}
.xdxf abbr {
font-style: italic;
color: seagreen;
cursor: default;
border-bottom: 1px seagreen dotted;
}
.xdxf co, .xdxf co_old {
color: #b7abff;
font-style: italic;
}
.xdxf co:before {
content: "(";
}
.xdxf co:after {
content: ")";
}
.xdxf gr {
color: orangered;
display: block;
}
.xdxf gr_old {
color: blue;
}
.xdxf ex {
color: #cdcdcd;
display: block;
margin-left: 14px;
}
.xdxf ex_old {
color: #808080;
}
.xdxf ex_source:before {
content: "[";
}
.xdxf ex_source:after {
content: "]";
}
.xdxf ex_tran:before {
content: "— ";
}
.xdxf ex_tran {
font-style: italic;
}
.xdxf dtrn {
font-weight: bold;
color: #dd7800;
}
.xdxf tr:before {
content: "[";
}
.xdxf tr:after {
content: "]";
}
.xdxf tr, .xdxf tr_old {
font-weight: bold;
}
.xdxf rref {
display: none;
}
.xdxf headwords {
font-size: 116%;
font-weight: bold;
margin-top: 10px;
margin-bottom: 10px;
}
.xdxf ex ex_markd, .xdxf ex_old ex_markd {
color: black;
background-color: lightgray;
}
.xdxf opt {
color: #808080;
}
