body > div {
  width: 100%;
}

ol li {
  font-size:   85%;
}

table.conjugation span.irrg {
  color:       #99ff77;
  display:     inline;
}

table.conjugation span.dfcv {
  color:       #BFBFBF;
  display:     inline;
}

table.conjugation span.regn {
  font-size:      70%;
vertical-align: super;
}

table.conjugation span.dfcv span.irrg {
  color:       #949494;
  display:     inline;
}

table.conjugation td {
text-align: center;
}

table.conjugation td.lt {
  text-align: right;
  font-size:  85%;
  color:      #c9c6c6;
}

table.conjugation td.rt {
  text-align: left;
  font-size:  85%;
  color:      #c9c6c6;
}

table.conjugation td.h1 {
  font-size:  120%;
line-height:2.5em;
border-bottom-style: solid;
border-bottom-width: 1px;
}

table.conjugation td.h2 {
  font-size:  120%;
line-height:1.5em;
}

table.conjugation td.h3 {
  font-size:  80%;
line-height:1.5em;
border-bottom-style: solid;
border-bottom-width: 1px;
}


